html {
    height: 100%;
    background-color: #F2F6FA;
}

a {
    text-decoration: none;
}

.link-dark, h1, h2, h3, h4 ,h5, p, a {
    color: #4d4d4d!important;
}

#main {
    background-color: #F2F6FA;
}


.c100 .bar, .fill {
    border-color: #3D2388!important;
}

.c100 > span {
    color: #3D2388!important;
}


.btn-link {
    text-decoration: none!important;
    color: #4d4d4d!important;
}

.card {
    border-radius: 30px!important;
    background-color: #fff!important;
}

.card-header {
    border: none!important;
    border-radius: 30px!important;
    background-color: #fff!important;
    box-shadow: 0px 3px 3px #aaaaaa;
}

.profile-img {
    border: solid 3px #BB37AD;
}

.points {
    font-size: 28px;
    font-weight: bold;
}

.sub-interactions {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation {
    max-width: 500px;
    background-color: #fff;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: none;
  }

.btn-circle.btn-xl {
    position: absolute;
    transform: translate(10px, -40px);
    background-color: purple!important;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    color: white;
}



/* Icon Colours */

.fa-th-large {
    color: #3D2388!important; 
}

.fa-bars {
    color: #3D2388!important; 
}

.fa-chart-bar {
    color: #3D2388!important; 
}

.fa-user-alt {
    color: #3D2388!important; 
}