@font-face {
font-family: 'SF UI Display Ultralight';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Ultralight'), url('SF font/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

    
@font-face {
font-family: 'SF UI Display Thin';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Thin'), url('SF font/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('SF font/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Medium';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Medium'), url('SF font/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Semibold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Semibold'), url('SF font/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Bold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Bold'), url('SF font/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Heavy';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Heavy'), url('SF font/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Black';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Black'), url('SF font/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}
html {
    height: 100%;
    background-color: #F2F6FA;
}

a {
    text-decoration: none;
}

.link-dark, h1, h2, h3, h4 ,h5, a, li {
    color: #4d4d4d!important;
    font-family: 'SF UI Display Bold';
}

#main {
    background-color: #F2F6FA;
}


.progress-ring-labels::part(label) {
    margin-top: 90px;
    font-size: 50px;
    font-weight: bold;
    color: #3D2388;
    display: block;
    font-family: 'SF UI Display Bold';
}

.progress-ring-labels::part(label)::after {
    content: 'pts';
    text-align: center;
    color: #3D2388;
    font-size: 16px;
    display: block;
    margin-top: -15px;
    font-family: 'SF UI Display Bold';
}


.btn-link {
    text-decoration: none!important;
    color: #4d4d4d!important;
}

.league-card {
    border-radius: 30px!important;
    background-color: #fff!important;
}

.card-header {
    border: none!important;
    border-radius: 30px!important;
    background-color: #fff!important;
    box-shadow: 0px 3px 3px #aaaaaa;
}

.user-bg {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD); 
}

.profile-img {
    border: solid 3px #BB37AD;
}

.points {
    font-size: 28px;
    font-weight: bold;
}

.sub-interactions {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #3D2388;
}

.navigation {
    max-width: 500px;
    background-color: #fff;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navigation > li > a {
    text-decoration: none;
    transition: .2s ease-in-out;
}

.navigation > li > a:hover {
    opacity: .7;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: none;
  }

.btn-circle.btn-xl {
    position: absolute;
    transform: translate(10px, -40px);
    background-image: linear-gradient(45deg, #3D2388, #BB37AD); 
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    color: white;
}

.nav-item {
    font-size: 12px;
    color: #4d4d4d;
    font-family: 'SF UI Display Light';
}

#drawerTitle::before, #pubDrawerTitle:before {
    content: '';
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    position: absolute;
    transform: translate(140px, -59.55px);
    background-color: #aaaaaa;
}

.drawer-placement-bottom::part(base),
.drawer-placement-bottom::part(overlay),
.compare-statistics::part(base),
.compare-statistics::part(overlay),
.basketball::part(base),
.basketball::part(overlay),
.pub-quiz::part(base),
.pub-quiz::part(overlay),
.share-bill::part(base),
.share-bill::part(overlay)   {
    max-width: 500px!important;
    left: 37.2%;
}

.drawer-placement-bottom::part(body){
    overflow-y: hidden;
}

.drawer-placement-bottom::part(panel),
.compare-statistics::part(panel),
.basketball::part(panel),
.pub-quiz::part(panel),
.share-bill::part(panel)  {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.drawer-placement-bottom::part(close-button):hover {
    color: #3D2388!important;
}

.daily-ring::part(label) {
    font-size: 12px;
    font-weight: bold;
    font-family: 'SF UI Display Bold';
}


#minus-btn::part(base), #add-btn::part(base) {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
}


#minus-btn::part(label), #add-btn::part(label) {
    color: #fff;
    font-size: 30px;
}

.add-ring::part(label) {
    font-size: 2.5rem;
    font-weight: bold;
    color: #BB37AD;
    font-family: 'SF UI Display Bold';
}

.btn-lg-add {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
    border-radius: 20px!important;
    font-size: 20px!important;
    font-family: 'SF UI Display Bold';
}

/* Sub-Interaction Styling */
.name-tags {
    font-family: 'SF UI Display Bold';
}

.info-card {
    border-radius: 10px!important;
    background-color: #F2F6FA!important;
    box-shadow: 0px 3px 3px #aaaaaa;
    font-family: 'SF UI Display Bold';
    border: none!important;
    width: 150px!important;
}

.info-card > span:nth-child(1) {
    font-size: 12px;
}

.info-card > span:nth-child(2) {
    font-size: 36px;
}



.chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 10px;
    height: 200px;
    width: 100px;
    padding: 5px 10px;
  }
  
[class*="barchart"] {
    margin: 0;
    padding: 0;
    border-radius: 50px 50px 0 0;
    transition: all .6s ease;
    grid-row-end: 120;
}

.barchart-1 {    
    grid-row-start: 1;
}

.barchart-2 {
    grid-row-start: 30;
}

.barchart-3 {
    grid-row-start: 20;
}

.barchart-4 {
    grid-row-start: 50;
}
.barchart-5 {
    grid-row-start: 20;
}

.barchart-6 {
    grid-row-start: 50;
}
.barchart-7 {
    grid-row-start: 20;
}

.barchart-8 {
    grid-row-start: 50;
}

[class*="barchart"]:nth-child(odd) {
    background-color: #3D2388; 
}
   
[class*="barchart"]:nth-child(even) {
    background-color: #BB37AD;
}

.chart > span {
    position: relative;
}

#instructions {
    font-family: 'SF UI Display Light';
    font-size: 1.2rem;
}


#question {
    font-size: 1.2rem;
    font-family: 'SF UI Display Bold';
    color: #3D2388;
    text-align: center;
    font-size: 1.4rem;
}

.btn-answer {
    background-color: #F2F6FA!important;
    box-shadow: 0px 3px 3px #4d4d4d;
    font-family: 'SF UI Display Bold';
    width: 100%;
    font-size: 1rem!important;
    margin-bottom: 10px;
    text-align: left!important;
    padding-top: .9rem!important;
    padding-bottom: .9rem!important;
}

.start-btn {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
    color: #fff!important;
    padding-top: .7rem!important;
    padding-bottom: .7rem!important;
    width: 100%;
    font-family: 'SF UI Display Medium'; 
    font-size: 1.5rem!important;
    border-radius: 20px!important;
}

.next-btn {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
    color: #fff!important;
    padding-top: .7rem!important;
    padding-bottom: .7rem!important; 
    width: 100%;
    font-family: 'SF UI Display Bold'; 
    font-size: 1.2rem!important;
    border-radius: 20px!important;
}

.btn-answer.correct {
    background-color: #12B48F!important;
    color: #fff!important;
}

.btn-answer.wrong {
    background-color: #F14F4F!important;
    color: #fff!important;
}

.hide {
    display: none!important;
}

.close-btn {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
    border-radius: 20px!important;
    width: 100%;
    color: #fff!important;
    font-family: 'SF UI Display Medium';
    font-size: 1.5rem!important;
    padding-top: .7rem!important;
    padding-bottom: .7rem!important;
}

.quiz-finished-header, .quiz-finished-score {
    color:#3D2388!important;
}

#message {
    text-align: center;
    padding-top: 1rem;
    font-family: 'SF UI Display Medium';
    font-size: 1.2rem!important;
}

/* League Styling */


.icon-left-card {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD)!important;
    border-top-left-radius: 30px!important;
    border-bottom-left-radius: 30px!important;
    border: none!important;
}

.icon-left-card > .card-body {
    padding: 15px!important;
}

.challenge-content-card {
    border-top-right-radius: 30px!important;
    border-bottom-right-radius: 30px!important;
    border: none!important;
}

.challenge-content-card > .card-body {
    padding: 15px!important;
}

.challenge-active > .card > .card-body > .row > .col-10 > span:nth-child(1) {
    display: block;
    font-size: 14px;
    color: #BB37AD;
    font-family: 'SF UI Display Light';
}

.challenge-active > .card > .card-body > .row > .col-10 > span:nth-child(2) {
    display: block;
    font-size: 18px;
    color: #4d4d4d;
    font-family: 'SF UI Display Bold';
}

/* Summary Page Styling */

.title {
    width: 75%;
}

.badge {
    padding: 10px!important;
    background-image: linear-gradient(45deg, #3D2388, #BB37AD)!important;
    font-family: 'SF UI Display Bold';
    font-size: 20px!important;
}

.info-summary-card {
    border-radius: 10px!important;
    background-color: #ffffff!important;
    box-shadow: 0px 3px 3px #aaaaaa;
    font-family: 'SF UI Display Bold';
    border: none!important;
}

.info-summary-card > span:nth-child(1) {
    font-size: 12px;
}

.info-summary-card > span:nth-child(2) {
    font-size: 36px;
}

.weekly-rings-block {
    border-radius: 10px!important;
    border:none!important;
    box-shadow: 0px 3px 3px #aaaaaa;
}

.daily-ring-thurs::part(label) {
    border-radius: 50%;
    color: #FFA91F;
}

.drinks-label {
    background-color: #F2F6FA;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 3px #aaaaaa;
    border-radius: 10px;
    font-family: 'SF UI Display Bold';
    color: #FFA91F;
    font-size: 20px;
}

#triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent #F2F6FA transparent;
}

.drink-free-day {
    background-color: #F2F6FA;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    font-family: 'SF UI Display Bold';
    box-shadow: 0px 3px 3px #aaaaaa;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drunk {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD)!important;
}

.drink-free-key {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
}

.drink-free-day-label {
    font-family: 'SF UI Display Medium';
    color: #4d4d4d;
}

/* Profile Page Styling */

.number-badge {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}




.edit-link {
    color: #BB37AD!important;
    font-family: 'SF UI Display Light';
}

.edit-picture {
    background-color: #BB37AD;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    transform: translate(30px, 70px);
}

.edit-options {
    padding: 60px;
}

.edit-options > li {
    font-size: 24px;
    font-family: 'SF UI Display Medium';
}

.badge {
    background-color: #A60402!important;
}


/* Icon Colours */

.fa-th-large, .fa-gamepad, .fa-users, .fa-beer {
    color: #3D2388!important; 
}

.fa-bars {
    color: #3D2388!important; 
}

.fa-chart-bar {
    color: #3D2388!important; 
}

.fa-user-alt {
    color: #3D2388!important; 
}

.fa-bell, .fa-edit, .fa-lock, .fa-question-circle, .fa-sign-out-alt {
    color: #3D2388!important;
}

.fa-ellipsis-h {
    color: #BB37AD;
}


@media (max-width: 576px) {
    .drawer-placement-bottom::part(base),
    .drawer-placement-bottom::part(overlay),
    .pub-quiz::part(base),
    .pub-quiz::part(overlay) {
        --size: 150vw!important;
        left: 0%!important;
    }

    .compare-statistics::part(base),
    .compare-statistics::part(overlay),
    .basketball::part(base),
    .basketball::part(overlay) {
        --size: 220vw!important;
        left: 0%!important;
    }

    #drawerTitle:before, #pubDrawerTitle:before {
        transform: translate(120px, -59.55px);
    }

    .name-tags {
        font-size: 15px!important;
    }

    .chart {
        grid-column-gap: 5px!important;
        width: 75px;
    }

    .card-header {
      padding-top: .75rem!important; 
    }

    .btn-link {
        padding: .45rem .65rem!important;
    }

    .btn-link {
        padding: 0!important;
    }

    .fs-mb {
        font-size: 1.2rem!important;
        text-align: left;
    }

    .profile-img {
        width: 50px;
        height: 50px;
    }

    .icon-let-card {
        width: 25%!important;
    }

    .card-group {
        display: flex!important;
        flex-flow: row wrap;
        justify-content: center!important;
    }

    .icon-left-card {
        flex-grow: .5!important;
        border-top-right-radius: 0px!important;
        border-bottom-right-radius: 0px!important;
    }

    .challenge-content-card {
        flex-grow: 1;
    }

    .title {
        width: 100%;
    }

    .info-summary-card > span:nth-child(1) {
        font-size: 14px;
    }
    
    .info-summary-card > span:nth-child(2) {
        font-size: 36px;
    }

    .drink-free-day {
        margin-left: 2.111px;
        margin-right: 2.111px;
    }

    .edit-picture {
        transform: translate(30px, 70px);
    }

    .edit-options > li {
        font-size: 18px!important;
    }

    #profile-edit-img {
        width: 100px!important;
        height: 100px!important;
    }

    .edit-options {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .drawer-placement-bottom::part(base),
    .drawer-placement-bottom::part(overlay),
    .pub-quiz::part(base),
    .pub-quiz::part(overlay)  {
        --size: 90vw;
        left: 19%;
    }
    
    .compare-statistics::part(base),
    .compare-statistics::part(overlay),
    .basketball::part(base),
    .basketball::part(overlay) {
        --size: 130vw;
        left: 19%;
    }
}