@font-face {
font-family: 'SF UI Display Ultralight';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Ultralight'), url('SF font/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

    
@font-face {
font-family: 'SF UI Display Thin';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Thin'), url('SF font/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('SF font/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Medium';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Medium'), url('SF font/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Semibold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Semibold'), url('SF font/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Bold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Bold'), url('SF font/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Heavy';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Heavy'), url('SF font/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Black';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Black'), url('SF font/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}
html {
    height: 100%;
    background-color: #F2F6FA;
}

a {
    text-decoration: none;
}

.link-dark, h1, h2, h3, h4 ,h5, a, li {
    color: #4d4d4d!important;
    font-family: 'SF UI Display Bold';
}

#main {
    background-color: #F2F6FA;
}

.progress-ring-labels::part(label) {
    margin-top: 90px;
    font-size: 50px;
    font-weight: bold;
    color: #3D2388;
    display: block;
    font-family: 'SF UI Display Bold';
}

.progress-ring-labels::part(label)::after {
    content: 'pts';
    text-align: center;
    color: #3D2388;
    font-size: 16px;
    display: block;
    margin-top: -15px;
    font-family: 'SF UI Display Bold';
}


.btn-link {
    text-decoration: none!important;
    color: #4d4d4d!important;
}

.card {
    border-radius: 30px!important;
    background-color: #fff!important;
}

.card-header {
    border: none!important;
    border-radius: 30px!important;
    background-color: #fff!important;
    box-shadow: 0px 3px 3px #aaaaaa;
}

.user-bg {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD); 
}

.profile-img {
    border: solid 3px #BB37AD;
}

.points {
    font-size: 28px;
    font-weight: bold;
}

.sub-interactions {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #3D2388;
}

.navigation {
    max-width: 500px;
    background-color: #fff;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}




.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: none;
  }

.btn-circle.btn-xl {
    position: absolute;
    transform: translate(10px, -40px);
    background-image: linear-gradient(45deg, #3D2388, #BB37AD); 
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    color: white;
}

.nav-item {
    font-size: 12px;
    color: #4d4d4d;
    font-family: 'SF UI Display Light';
}



#drawerTitle::before {
    content: '';
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    position: absolute;
    transform: translate(140px, -59.55px);
    background-color: #aaaaaa;
}

.drawer-placement-bottom::part(base),.drawer-placement-bottom::part(overlay)  {
    max-width: 500px!important;
    left: 37.2%;
}

.drawer-placement-bottom::part(panel) {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.daily-ring::part(label) {
    font-size: 12px;
    font-weight: bold;
    font-family: 'SF UI Display Bold';
}

#minus-btn::part(base), #add-btn::part(base) {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
}


#minus-btn::part(label), #add-btn::part(label) {
    color: #fff;
    font-size: 30px;
}

.add-ring::part(label) {
    font-size: 2.5rem;
    font-weight: bold;
    color: #BB37AD;
    font-family: 'SF UI Display Bold';
}

.btn-lg-add {
    background-image: linear-gradient(45deg, #3D2388, #BB37AD);
    border-radius: 20px!important;
    font-size: 20px!important;
    font-family: 'SF UI Display Bold';
}


/* Icon Colours */

.fa-th-large, .fa-gamepad, .fa-users, .fa-beer {
    color: #3D2388!important; 
}

.fa-bars {
    color: #3D2388!important; 
}

.fa-chart-bar {
    color: #3D2388!important; 
}

.fa-user-alt {
    color: #3D2388!important; 
}